#menuDatail.ui.modal {
    width: 64rem;
    overflow: hidden;
}

#menuDatail.ui.modal > .header {
    font-family: Cafe24SsurroundAir
}

#menuDatail.ui.modal > .content {
    height: 37rem;
}

#menuDatail.ui.modal > .content > div:first-child {
    width: 35%;
    margin-right: 5%;
}

#menuDatail.ui.modal > .content > div:first-child .brand-logo-wrap img {
    display: block;
    margin: 0 auto;
}

#menuDatail.ui.modal > .content > div:first-child .menu-image-wrap img {
    display: block;
    width: 100%;
}

#menuDatail.ui.modal > .content > div:last-child {
    position: relative;
    width: 60%;
}

#menuDatail.ui.modal > .content > div:last-child .menu-name-ko {
    font-size: 1.5rem;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap {
    position: relative;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid #555;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .btn-label {
    margin-right: 1rem;
    min-width: 3rem;
    height: 33px;
    vertical-align: top;
    font-family: Cafe24SsurroundAir
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .btn-label.caffeine .ui.button {
    padding: 0.5rem;
    cursor: default;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .btn-label.heart .ui.button {
    width: 2.4rem;
    padding: 0.7rem 0.6rem 0.6rem 0.6rem;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .btn-label.star .ui.button {
    padding: 0.5rem;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .btn-label.caffeine.on .ui.button {
    background-color: #eac7ad;
    cursor: default;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .btn-label.star.on .ui.button {
    background-color: #ffe680;
    cursor: default;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .btn-label.heart.on .ui.button {
    background-color: #FFC1BD;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .btn-label .ui.button img {
    display: block;
    height: 100%
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .btn-label.ui.labeled.button >.ui.label {
    padding-top: 0.8rem;
    border: 2px solid #ddd;
    color: #ccc
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .btn-label.caffeine.ui.labeled.button >.ui.label {
    cursor: default;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .btn-label.caffeine.on.ui.labeled.button >.ui.label {
    border: 2px solid #eac7ad;
    color: #966a5b;
    cursor: default;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .btn-label.star.on.ui.labeled.button >.ui.label {
    border: 2px solid #ffe680;
    color:#ffd62d;
    cursor: default;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .btn-label.heart.on.ui.labeled.button >.ui.label {
    border: 2px solid #FFC1BD;
    color:#E89A94;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .btn-label .ui.basic[class*="left pointing"].label:before {
    display: none;
}

/* starRating */
#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .star-rating-wrap {
    display: none;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .star-rating-wrap.on {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
    border-radius: 0.5rem;
    background-color: #fff;
    text-align: center;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .star-rating-wrap .notice {
    margin-bottom: 1rem;
    color: darkred;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .rating.star {
    margin-bottom: 2rem;
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .star-rating-wrap .btn-save {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: yellowgreen;
    color: #fff
}

#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .star-rating-wrap .btn-cancel {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #bbb;
    color: #fff
}

/*#menuDatail.ui.modal > .content > div:last-child .menu-icon-wrap .rating.star {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    padding: 2rem;*/
/*    background-color: #fff;*/
/*}*/


#menuDatail.ui.modal > .content > div:last-child .menu-desc {
    line-height: 1.8rem;
    font-size: 1.2rem;
}

#menuDatail.ui.modal > .content > div:last-child .menu-allergy-wrap {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    border: 0.2rem solid #555;
    border-radius: 0.4rem;
}

#menuDatail.ui.modal > .content > div:last-child .menu-allergy-wrap.hide {
    display: none;
}

#menuDatail.ui.modal > .content > div:last-child .menu-allergy-wrap .menu-allergy-title {
    position: absolute;
    top: -1rem;
    padding: 0 1rem;
    background-color: #fff;
    font-size: 1.3rem;
}

#menuDatail.ui.modal > .content > div:last-child .menu-allergy-wrap ul li {
    display: inline-block;
    margin-right: 1rem;
    width: 4rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #bbb;
    text-align: center;
    color: #fff;
}

#menuDatail.ui.modal > .content > div:last-child .menu-allergy-wrap ul li.danger {
    background-color: darkred;
    color: #fff
}
