.search-box-wrap {
    margin-bottom: 1rem;
}

/* 검색 영역 */
.search-box {
    margin-bottom: 3.5rem;
    height: 3.5rem;
}

.ui.selection.dropdown.select {
    padding: 1.1rem 0 0 1.1rem;
    min-height: auto;
    border: 1px solid #eac7ad;
    font-size: 1.2rem;
}

.ui.dropdown>.dropdown.icon {
    font-family: Dropdown !important;
}

.ui.input.search-input {
    width: 55rem;
    font-size: 1.2rem;
}

.ui.input.search-input input {
    border: 1px solid #eac7ad;
}

#inputSearch {
    width: 10rem;
    background-color: #eac7ad;
    font-size: 1.2rem;
    color:#966a5b
}

#inputSearch span{
    display: inline-block;
    vertical-align: top;
    font-size: 1.5rem;
    color: #966a5b;
}

#btnSearch {
    width: 7rem;
    background-color: #eac7ad;
    font-size: 1.2rem;
    color:#966a5b;
}
/*#btnSearch {*/
/*    width: 7rem;*/
/*    background-color: #966a5b;*/
/*    font-size: 1.2rem;*/
/*}*/

/* 마이리스트, 알러지필터링 */
.search-condition-wrap {
    text-align: right;
}

.search-condition-wrap .ui.compact.segment {
    display: inline-block;
    margin-left: 1.5rem;
    padding: 1.3rem 1rem 0.6rem 1rem;
    border: 1px solid #eac7ad;
}

.search-condition-wrap .ui.fitted.toggle.checkbox {
    margin-right: 0.7rem;
}

.search-condition-wrap .ui.toggle.checkbox input:checked~.box:before,
.search-condition-wrap .ui.toggle.checkbox input:checked~label:before{
    background-color: yellowgreen !important;
}

.search-condition-wrap span {
    display: inline-block;
    vertical-align: top;
}

/*.big-coffee {*/
/*    font-size: 50px;*/
/*}*/