header {
    padding-top: 3rem;
    width: 100%;
    /*background-color: #eee;*/
}

.main-logo {
    width: 17rem;
    height: 5rem;
    /*background-color: #ccc;*/
}

.main-logo a {
    color: #333;
    /*background-color: #ccc;*/
}

header .ui.button {
    padding: 0;
    width: 3rem;
    height: 3rem;
    align-self: flex-end;
    background: none;
}

header .ui.button img{
    display: block;
    width: 100%;
}

/*.btn-login img {*/
/*   display: block;*/
/*    width: 100%;*/
/*}*/