.menu-item {
    margin-right: 2.5%;
    margin-bottom: 3rem;
    width: 23%;
    border-radius: 0.3rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 3px 3px 3px;
    overflow: hidden;
}

.menu-item:nth-child(4n) {
    margin-right: 0
}

.menu-item > a {
    display: block;
    padding: 1rem;
    width: 100%;
}

.menu-item .brand-logo-wrap {
    margin: 0 auto 1rem auto;
    width: 90%;
    height: 4rem;

    /* 가/세로 중앙 정렬 */
    justify-content: center;
    align-item: center;
}

.menu-item .brand-logo-wrap img {
    display: block;
    width: 100%;
    align-self: center;
}

.menu-item .menu-image-wrap {
    margin-bottom: 1rem;
    height: 232px;
}

.menu-item .menu-image-wrap img {
    display: block;
    margin: 0 auto;
    width: 90%;
}


/* 음료명 */
.menu-item .menu-name {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1rem;
    color: #555555;
}

.menu-item .menu-icon-wrap {
    margin: 0 auto;
    width: 90%;
}

.menu-item .menu-icon-wrap p {
    margin: 0;
    width: 18%;
    font-size: 1.3rem;
}

.menu-item .menu-icon-wrap > p > img {
    display: block;
    width: 100%;
}

.menu-item .menu-icon-wrap p.star-rating-wrap {
    align-self: center;
    width: 33%;
}

.menu-item .menu-icon-wrap p.star-rating-wrap span:nth-of-type(2) {
    padding-top: 0.3rem;
    align-self: center;
    font-weight: bold;
    color: goldenrod;
}

.menu-item .menu-icon-wrap p.star-rating-wrap span img {
    display: block;
    width: 90%;
}

.menu-item .menu-icon-wrap .heart-rating-wrap {
    align-self: center;
}
