.ui.modal {
  width: 40rem;
}
.ui.modal>.content {
    padding: 3.5rem;
}

.ui.teal.header{
    margin-bottom: 3rem;
    font-size: 2rem;
}

.ui.teal.button{
    margin-top: 2rem;
    font-size: 1.8rem;
}
/*.ui.modal > .header {*/
/*  text-align: center;*/
/*}*/

/*.ui.modal > .image.content > .description {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*}*/

/*.ui.modal > .image.content > .description > label {*/
/*  margin-right: 1rem;*/
/*  flex-basis: 1.5rem;*/
/*  font-size: 1.3rem;*/
/*  align-self: center;*/
/*}*/

/*.ui.modal > .image.content > .description > input {*/
/*  flex-basis: 50%;*/
/*}*/

.ui.modal .ui.segment {
    box-shadow: none;
    border: none;
}

.ui.stacked.segment:after, .ui.stacked.segment:before, .ui.stacked.segments:after, .ui.stacked.segments:before {
    display: none;
}

.ui.fluid.input {
    height: 3.5rem;
}