.modal-login.ui.modal {
  width: 40rem;
}

.modal-login.ui.modal>.content .ui.header{
    margin-bottom: 3rem;
    font-size: 2rem;
    color: #966a5b !important;
}

.modal-login.ui.modal>.content .ui.button {
    font-size: 1.8rem;
    font-family: Cafe24SsurroundAir;
}

.modal-login.ui.modal>.content .ui.button.btn-login {
    margin: 2rem 0;
    background-color: #966a5b;
    color: #fff;
}
/*.ui.modal > .header {*/
/*  text-align: center;*/
/*}*/

/*.ui.modal > .image.content > .description {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*}*/

/*.ui.modal > .image.content > .description > label {*/
/*  margin-right: 1rem;*/
/*  flex-basis: 1.5rem;*/
/*  font-size: 1.3rem;*/
/*  align-self: center;*/
/*}*/

/*.ui.modal > .image.content > .description > input {*/
/*  flex-basis: 50%;*/
/*}*/

.modal-login.ui.modal .ui.segment {
    box-shadow: none;
    border: none;
}

.modal-login .ui.stacked.segment:after,
.modal-login .ui.stacked.segment:before,
.modal-login .ui.stacked.segments:after,
.modal-login .ui.stacked.segments:before {
    display: none;
}

.modal-login .ui.fluid.input {
    height: 3.5rem;
}

.modal-login.ui.modal>.content .btn-join {
    display: block;
    background-color: yellowgreen;
    color: #fff
}